<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">Produtos</h1>
    <a class="btn btn-primary" href="/produtos/criar"> Criar Produto </a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Preço</th>
                <th>Imagem</th>
                <th>Criado em</th>
                <th>Acao</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.marca}"></td>
                <td th:text="${produto.categoria}"></td>
                <td th:text="@{${produto.preco} + '$'}"></td>
                <td>
                    <img th:src="@{'/imagens/' + ${produto.nomeDaImagem}}"
                        alt="..." width="100">
                </td>
                <td th:text="${produto.criadoEm.toString().substring(0, 10)}"></td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm"
                        th:href="@{/produtos/editar(id=${produto.id})}">Editar</a>
                    <a class="btn btn-danger btn-sm"
                       th:href="@{/produtos/deletar(id=${produto.id})}"
                       onclick="return confirm('Você tem certeza?')">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>